<body>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="container">
          <h1>Autos de Alta Gama</h1>
        </div>
        <div class="kodfun-galeri">
          <div style="background-image: url('/assets/img/1.jpg');"></div>
          <div style="background-image: url('/assets/img/2.webp');"></div>
          <div style="background-image: url('/assets/img/3.webp');"></div>
          <div style="background-image: url('/assets/img/4.jpg');"></div>
          <div style="background-image: url('/assets/img/5.jpg');"></div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Contraseña</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of data">
          <td>{{items.user_id}}</td>
          <td>{{items.pass}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <button (click)="logout()">
          Logout
        </button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</body>
